{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Admin - HerdReviews</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25 custom-width-800" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- section start ------------------------------------- -->
<div class="container custom-border-2">
  <h1>Admin</h1>
  <!-- ------------------------------------- reddit start ------------------------------------- -->
  <form method="POST" enctype="multipart/form-data" class="custom-border-2" onsubmit="return clickSubmitButtonOnce()">
    <div class="custom-width-400 mx-auto">
      <label for="id-reddit_button" class="form-label">Reddit</label>
      <input type="text" class="form-control" id="id-reddit_button" name="ui_reddit_button" value="on" required>
      <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Run function</button>
    </div>
  </form>
  <!-- ------------------------------------- reddit end ------------------------------------- -->
  <!-- ------------------------------------- test start ------------------------------------- -->
  <form method="POST" enctype="multipart/form-data" class="custom-border-2" onsubmit="return clickSubmitButtonOnce()">
    <div class="custom-width-400 mx-auto">
      <label for="id-test2_button" class="form-label">ActionTest2</label>
      <input type="text" class="form-control" id="id-test2_button" name="ui_test2_button" value="off" required>
      <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Run function</button>
    </div>
  </form>
  <!-- ------------------------------------- test end ------------------------------------- -->
</div>
<!-- ------------------------------------- section end ------------------------------------- -->
{% endblock %}