{% extends "polling/aaa_base/base2_interior.html" %}
<!-- head tag block content -->
{% block title %}
  <title>Admin - HerdReviews</title>
{% endblock %}
{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
{% if page_dict_to_html['alert_message_dict']['message'] != '' %}
<div class="alert alert-{{ page_dict_to_html['alert_message_dict']['type'] }} mx-auto text-center container custom-mt-25 custom-width-800" role="alert">
  {{ page_dict_to_html['alert_message_dict']['message'] }}
</div>
{% endif %}
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- section start ------------------------------------- -->
<div class="container custom-width-600 mx-auto custom-mt-50">
  <h1>Admin</h1>
  <!-- ------------------------------------- reddit start ------------------------------------- -->
  <form method="POST" enctype="multipart/form-data" class="custom-border-black-opacity-25 custom-br-10 custom-p-25 shadow-sm" onsubmit="return clickSubmitButtonOnce()">
    <div class="custom-width-400 mx-auto">
      <label for="id-reddit_button" class="form-label">Reddit Scraper</label>
      <input type="text" class="form-control" id="id-reddit_button" name="ui_reddit_button" value="on" required>
      <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Run function</button>
    </div>
  </form>
  <!-- ------------------------------------- reddit end ------------------------------------- -->
  <!-- ------------------------------------- mapping start ------------------------------------- -->
  <form method="POST" enctype="multipart/form-data" class="custom-border-black-opacity-25 custom-br-10 custom-p-25 shadow-sm custom-mt-50" onsubmit="return clickSubmitButtonOnce()">
    <div class="custom-width-400 mx-auto">
      <label for="id-reddit_input" class="form-label">fk_reddit_id</label>
      <input type="text" class="form-control" id="id-reddit_input" name="ui_reddit_input" value="" required>
      <label for="id-poll_input" class="form-label custom-mt-10">fk_poll_id</label>
      <input type="text" class="form-control" id="id-poll_input" name="ui_poll_input" value="" required>
      <button type="submit" class="btn btn-lg btn-success custom-width-100 custom-mt-25">Sync</button>
    </div>
  </form>
  <!-- ------------------------------------- mapping end ------------------------------------- -->
</div>
<!-- ------------------------------------- section end ------------------------------------- -->
{% endblock %}