{% extends "polling/aaa_base/base2_exterior_black.html" %}

{% block title %}
    <title>Audience Relationship Management - HerdReviews</title>
    <meta name="description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
    <meta name="og:description" content="Audience relationship management. Premium podcast polling platform. Information about your listeners.">
{% endblock %}

{% block contentBodyExceptNavbarAndFooter %}
<!-- ----------------------------------- start ----------------------------------- -->
<div class="container-fluid custom-bg-black">
  <div class="container custom-pt-100 custom-pb-100 text-center custom-color-white">
    <h1 class="custom-m-0 custom-header-80-mobile">The Premium Podcast Polling Platform</h1>
    <h2 class="custom-header-25-mobile custom-mt-25 custom-opacity-75">Connecting fans with their favorite podcast hosts <span class="custom-underline-2">100% free</span></h2>
    <!-- <h2 class="custom-header-25-mobile custom-mt-25 custom-opacity-75">Feedback for your favorite podcast hosts.</h2>
    <h2 class="custom-header-25-mobile custom-m-0 custom-opacity-75">Audience relationship management, <span class="custom-underline-2">100% free</span>.</h2> -->
    <a href="/show/add" class="btn btn-light btn-lg custom-br-50 custom-mt-50 custom-ptb-20 custom-plr-25 custom-weight-700 custom-border-glow-1">Search podcast <i class="fa-solid fa-circle-arrow-right"></i></a>
  </div>
</div>
<!-- ----------------------------------- end ----------------------------------- -->
<!-- ------------------------------------- infinite horizontal scroll start ------------------------------------- -->
<div id="container-horizontal-scroll-1">
  <div class="photobanner-horizontal-scroll-1">
    {% for i_dict in page_dict_to_html['shows_arr_of_dicts'] %}
      <a href="/show/{{ i_dict['id'] }}"><img src="{{ i_dict['platform_image_medium'] }}" alt="{{ i_dict['name'] }} podcast logo" class="custom-br-15 custom-m-25 custom-img-size-100 border shadow custom-opacity-50 custom-hover-pointer-opacity-1"></a>
    {% endfor %}
  </div>
</div>
<!-- ------------------------------------- infinite horizontal scroll end ------------------------------------- -->
<!-- ------------------------------------- start ------------------------------------- -->
<div class="container custom-mb-75 custom-height-8-mobile">
  <div class="float-start">
    <div class="custom-width-1">
      <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-700">Polls for your favorite podcast <i class="fa-solid fa-check-to-slot"></i></h1>
      <h2 class="custom-header-20 custom-mt-25 custom-opacity-75">Ask your herd what they think about the latest episodes.</h2>
    </div>
    <div class="custom-mt-50">
      <a href="/show/add" class="btn btn-warning btn-lg">Create poll <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
  <div class="float-end custom-width-100-mobile mx-auto text-center custom-mt-100-mobile">
    <a href="/show/add"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/model1.png" alt="landing" class="custom-br-25 custom-width-600 shadow-lg custom-hover-1"></a>
  </div>
</div>
<!-- ------------------------------------- end ------------------------------------- -->
<!-- ------------------------------------- start ------------------------------------- -->
<div class="container custom-mb-75 custom-height-8-mobile">
  <div class="float-start custom-width-100-mobile mx-auto text-center">
    <a href="/show/add"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/model2.png" alt="landing" class="custom-br-25 custom-width-600 shadow-lg custom-hover-1"></a>
  </div>
  <div class="float-end custom-mt-100-mobile">
    <div class="custom-width-1">
      <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-700">Fan feedback for better content <i class="fa-solid fa-microphone-lines"></i></h1>
      <h2 class="custom-header-20 custom-mt-25 custom-opacity-75">Passionate fans sharing their invaluable feedback with their favorite shows.</h2>
    </div>
    <div class="custom-mt-50">
      <a href="/show/add" class="btn btn-success btn-lg">Get Started <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
</div>
<!-- ------------------------------------- end ------------------------------------- -->
<!-- ------------------------------------- start ------------------------------------- -->
<div class="container custom-mb-75 custom-height-8-mobile">
  <div class="float-start">
    <div class="custom-width-1">
      <h1 class="custom-m-0 custom-width-1 custom-header-50 custom-weight-700">Consolidate audience sentiment across multiple platforms <img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/reddit_logo.png" alt="show logo" class="custom-img-size-40"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/x_twitter.png" alt="show logo" class="custom-img-size-40 custom-ml-5"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/youtube.png" alt="show logo" class="custom-img-size-40 custom-ml-5"></h1>
      <h2 class="custom-header-20 custom-mt-25 custom-opacity-75">Integrations and API's collecting audience sentiment across social media platforms.</h2>
    </div>
    <div class="custom-mt-50">
      <a href="/show/add" class="btn btn-danger btn-lg">Learn more <i class="fa-solid fa-angle-right"></i></a>
    </div>
  </div>
  <div class="float-end custom-width-100-mobile mx-auto text-center custom-mt-100-mobile">
    <a href="/show/add"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/model3.png" alt="landing" class="custom-br-25 custom-width-600 shadow-lg custom-hover-1"></a>
  </div>
</div>
<!-- ------------------------------------- end ------------------------------------- -->
<!-- ------------------------------------- verified status start ------------------------------------- -->
<div class="container-fluid">
  <div class="custom-width-700 mx-auto border shadow custom-br-25 custom-p-25 custom-mb-150">
    <p class="custom-m-0 custom-header-25 custom-pb-25">Verified podcasts get access to detailed community feedback trends and in-depth audience demographics <span class="custom-underline-2">100% free</span></p>
    <div class="custom-display-flex">
      <div>
        <img src="{{ page_dict_to_html['show_dict']['platform_image_small'] }}" alt="show logo" class="custom-mr-1 custom-br-5 border shadow-lg custom-width-66-px">
      </div>
      <div class="custom-f-direction-row custom-ml-15">
        <p class="custom-m-0 custom-header-20">{{ page_dict_to_html['show_dict']['name'] }} <span class="custom-header-10 custom-opacity-75 custom-ml-5">[not yet verified]</span></p>
        <p class="custom-m-0 custom-header-15"><i class="fa-solid fa-circle-check custom-color-info"></i> 100% free verification process. <a href="/show/add" class="custom-a-2">Get started <i class="fa-solid fa-angle-right"></i></a></p>
        <p class="custom-m-0 custom-header-15 custom-mt-5"><a href="/show/add" class="custom-a-2">#1 fan's community for sharing and voting on episode polls <i class="fa-solid fa-angle-right"></i></a></p>
      </div>
    </div>
    <a href="/show/add" class="custom-width-100 btn btn-info btn-lg custom-mt-25 shadow-sm">Get started <i class="fa-solid fa-angle-right"></i></a>
  </div>
</div>
<!-- ------------------------------------- verified status end ------------------------------------- -->
<!-- ------------------------------------- dashboard graphic start ------------------------------------- -->
<div class="container custom-mb-200">
  <div class="custom-width-800 text-center custom-header-50 custom-weight-700 mx-auto custom-mb-25">
    <h1 class="custom-m-0 custom-header-50 custom-weight-700">View audience insights</h1>
    <h2 class="custom-header-20 custom-mt-10 custom-opacity-75">Use data to understand your audience. What are your fan’s favorite <i>hobbies, movies, music, sports, etc.</i>? What is the <i>education level</i> and <i>occupation</i> of your average listener? Get a more personalized view of your listeners at <a href="/signup" class="custom-a-black-underline">HerdReviews.com/insights</a> <span class="custom-underline-2">100% free</span>.</h2>
  </div>
  <a href="/show/add"><img src="https://herdreviewspublicobjects.s3.us-east-2.amazonaws.com/dashboard_graphic_v1.jpg" alt="dashboard" class="custom-br-25 custom-width-100 shadow-lg custom-hover-1"></a>
</div>
<!-- ------------------------------------- dashboard graphic end ------------------------------------- -->
{% endblock %}